$breakpoint-grid-sm: 576px;
$breakpoint-grid-md: 768px;
$breakpoint-grid-lg: 992px;
$breakpoint-grid-xl: 1200px;

$breakpoint-sm: 575px;
$breakpoint-md: 767px;
$breakpoint-lg: 991px;
$breakpoint-xl: 1199px;


$accent-color: #312783;
$primary-color: #3D3F3D;
$whiteColor: #ffffff;
$white-color: #ffffff;
$text-color: #3D3F3D;


$white: #ffffff;

$sumo-accent-color: #FF4500;
$sumo-text-color: #000;
$sumo-bg-hover: #fff5f0;
$sumo-transition: 0.3s ease;
$sumo-font-size: 18px;