@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.doctor-card {
  position: relative;

  &__img {
    width: 100%;
    aspect-ratio: 1 / 1.2;
    object-fit: contain;

    &-wrap {
      background: #F2F2F2;
      margin-bottom: fluid(16, 20);
    }

  }

  &__name {
    font-size: fluid(18, 20);
    margin-bottom: 10px;
  }

  &__specialty {
    color: rgba(111, 111, 111, 1);
    width: 80%;
  }

  &__link {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.s-doctors {
  padding: fluid(50, 100) 0;

  &__inner {
    @media (min-width: $breakpoint-md) {
      margin-bottom: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .heading {
    @media (max-width: $breakpoint-md) {
      text-align: center;
      margin-bottom: 21px;
    }
  }
}