@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.s-other {
  height: 100vh;

  @media (max-width: $breakpoint-md) {
    height: auto;
    margin-top: 136px;
    padding: 32px 0 88px 0;
  }

  &__inner {
    @media (max-width: $breakpoint-md) {
      flex-direction: column-reverse;
    }
  }

  & .heading {
    margin-bottom: 16px;
  }

  & .description {
    margin-bottom: fluid(32, 48);
    line-height: 1.4;
    font-size: fluid(18, 24);
    color: rgba(27, 27, 27, 1);
  }

  & .decor {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }

  & .btn-primary {
    width: 300px;

    @media (max-width: $breakpoint-md) {
      width: 265px;
    }
  }

  & .img {

    width: 90%;
    object-fit: contain;

    @media (max-width: $breakpoint-md) {
      margin-bottom: 32px;
    }
  }

  &--error {
    & .img {
      max-width: 495px;

    }
  }

  &--thanks {
    & .img {
      max-width: fluid(213, 306);

      @media (min-width: $breakpoint-md) {
        margin: 0 auto;
      }
    }

    & .row {
      @media (max-width: $breakpoint-md) {
        align-items: flex-start;
      }
    }
  }
}

.s-search-results {
  min-height: 50vh;
  padding: 40px 0 fluid(50, 100) 0;

  & .heading {
    margin-bottom: 35px;
  }

  & .doctor-card__grid {
    margin-bottom: 50px;
  }
}

.s-simple {
  padding: 40px 0 fluid(50, 100) 0;

  & .heading {
    margin-bottom: fluid(20, 35);

    @media (max-width: $breakpoint-md) {
      text-align: center;
    }
  }

  & .decor {
    &--right {
      &:nth-child(1) {
        top: 1%;
      }

      &:nth-child(2) {
        top: 50%;
      }
    }

    &--left {
      &:nth-child(3) {
        top: 25%;
      }

      &:nth-child(4) {
        top: 75%;
      }
    }
  }
}