@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.kama_breadcrumbs {

  background-color: transparent;
  padding: 25px 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  color: $white-color;

  margin: 0;
  width: 100%;
  z-index: 2;

  position: relative;
  @include transition(.4);
  @media (min-width: $breakpoint-md) {
    display: flex;
    flex-wrap: wrap;
  }
  @media (max-width: $breakpoint-md) {
    padding: 12px 0;
    text-align: left;
  
    
    display: block;

    overflow: hidden;
  }

  & a {
    position: relative;
    &:hover {

    }
  }

  .breadcrumb_last {
    color: rgba(175, 166, 159, 1);
  }

  & .kb {
    &_title {
      font-weight: 600;
    }

    &_sep {

      & i {
        font-size: 9px;
      }


      margin: 0 9px;
      @media (max-width: $breakpoint-md) {
        margin: 0 5px;
      }

      /* &:has(+ .kb_title) {
         & i {
           color: rgba(175, 166, 159, 1);
         }
       }*/
    }
  }
}


.s-checkout, .s-cbn, .s-cart, .s-payment-delivery{
  .kama_breadcrumbs{
    color: rgba(49, 39, 131, 1);
    & .kb_title{
      color:rgba(179, 176, 216, 1);
    }
  }
}
