@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.kama_breadcrumbs {
  background-color: transparent;
  padding: 15px 0;
  font-weight: 300;
  font-size: fluid(15,16);
  line-height: 1.4;
  color: rgba(30, 30, 30, 1);
  margin: 0;
  width: 100%;
  z-index: 2;
  position: relative;
  @include transition(.4);

  @media (min-width: $breakpoint-md) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (max-width: $breakpoint-md) {
    padding: 12px 0;
    text-align: left;


    display: block;

    overflow: hidden;
  }

  & a {
    position: relative;

    &:hover {}
  }

  & .kb {
    &_title {
      color: rgba(111, 111, 111, 1);
    }

    &_sep {
      margin: 0 fluid(5,7);
    }
  }

  &:after {
    content: "";
    background-color: rgb(242, 242, 242);
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    width: calc(100vw - 100px);
    height: 100%;
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}