@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 40px 16px 40px;
  font-family: inherit;
  font-size: 17px;
  line-height: 1;
  font-weight: 600;
  border-radius: 50px; // Округлі кути як на макеті
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  text-align: center;

  &--primary {
    background-color: #8b1818; // Ваша бордова заливка
    color: #ffffff;
    border-color: #8b1818;
    box-shadow: 0px 10px 20px 0px rgba(137, 28, 28, 0.25);


    &:hover {
      background-color: #6d1212;
      border-color: #6d1212;
    }
  }

  &--white {
    background-color: #ffffff; // Ваша бордова заливка
    color: #8b1818;
    border-color: #ffffff;
    box-shadow: 0px 10px 20px 0px rgba(137, 28, 28, 0.25);


    &:hover {}
  }

  // Модифікатор: кнопка з бордовою рамкою
  &--outline {
    background-color: transparent;
    color: #8b1818;
    border-color: #8b1818;

    &:hover {
      background-color: #8b1818;
      color: #ffffff;
    }
  }

  &--round {
    width: 54px;
    height: 54px;
    border-radius: 100%;
    padding: 0;
    background-color: #1E1E1E;
    color: #fff;

    .icon {
      width: 14px;

      // Перехід для стрілки
      transition: transform 0.25s ease;
    }
  }

  &--load-more {
    font-size: 20px;
    color: rgba(139, 30, 30, 1);
    margin:30px 0 25px  0;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 0;
  }
}