@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 40px 16px;
  font-family: inherit;
  font-size: 17px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;

  &--primary {
    color: #fff;
    background-color: #8b1818;
    border-color: #8b1818;
    box-shadow: 0 10px 20px rgba(137, 28, 28, 0.25);

    &:hover {
      background-color: #6d1212;
      border-color: #6d1212;
    }
  }

  &--white {
    color: #8b1818;
    background-color: #fff;
    border-color: #fff;
    box-shadow: 0 10px 20px rgba(137, 28, 28, 0.25);
  }

  &--outline {
    color: #8b1818;
    background-color: transparent;
    border-color: #8b1818;

    &:hover {
      color: #fff;
      background-color: #8b1818;
    }
  }

  &--round {
    z-index: 4;
    width: 54px;
    height: 54px;
    padding: 0;
    color: #fff;
    background-color: #1e1e1e;
    border-radius: 50%;

    .icon {
      width: 14px;
      transition: transform 0.25s ease;
    }
  }

  &--load-more {
    display:flex;
    padding: 0;
    margin: 30px 0 25px;
    font-size: 20px;
    font-weight: 700;
    color: #8b1e1e;
  }

  &--close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    color: #fff;

    &:hover {
      color: #8b1e1e;
    }

    @media (max-width: $breakpoint-md) {
      top: 15px;
      right: 15px;
    }
  }
}