@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;


@use "../abstracts/mixins" as *;

.pagination {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: transparent;

  .screen-reader-text {
    display: none;
  }

  .nav-links {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 20px;

    @media (max-width: 768px) {
      gap: 10px;
    }

    @media (max-width: 576px) {
      gap: 5px;
    }

    .page-numbers {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      margin: 0;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      color: #1e1e1e;
      background: #f2f2f2;
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.3s ease;

      @media (max-width: 768px) {
        width: 40px;
        height: 40px;
        font-size: 16px;
      }

      @media (max-width: 576px) {
        width: 30px;
        height: 30px;
        font-size: 14px;
      }

      

      // Загальні стилі для кнопок із маскою (prev / next)
      &.prev,
      &.next {
        font-size: 0; // Ховаємо можливий текст всередині тегу

        &::before {
          content: "";
          display: block;
          width: 16px;
          height: 16px;
          background-color: #1e1e1e;
          -webkit-mask: url("../img/forward-left.svg") no-repeat center / contain;
          mask: url("../img/forward-left.svg") no-repeat center / contain;
          transition: background-color 0.3s ease;

          @media (max-width: 576px) {
            width: 12px;
            height: 12px;
          }
        }
      }

      // Поворот маски для кнопки Next
      &.next::before {
        transform: rotate(180deg);
      }

      &:hover,
      &.current {
        color: #f2f2f2;
        background: #8b1e1e;

        // Зміна кольору маски при ховері та активному стані
        &::before {
          background-color: #f2f2f2;
        }
      }
    }
  }
}