@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;


.tab {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    justify-content: left;
    gap: fluid(10, 20);

    @media (max-width: $breakpoint-md) {
      width: 100%;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__item {
    border: 1px solid #FF3C00;
    color: #FF3C00;
    background: transparent;
    padding: 10px;
    cursor: pointer;
    position: relative;
    @include transition(.5);
    font-size: fluid(14, 16);
    max-width: fluid(105, 120);

    @media (max-width: $breakpoint-md) {
      max-width: 100%;

    }

    &.is--active {
      color: #C8C6E5;
      border-color: #C8C6E5;
    }
  }

  &__content {
    &-item {
      display: none;

      &.is--active {
        display: block;
      }
    }
  }
}